$primary: rgb(252,44,4);
$secondary: rgb(25, 1, 82);
$tertiary: rgb(241, 160, 160);

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';